* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: #200001;
}

::selection {
  color: orange;
}

.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.left {
  padding: 1.5vw;
  height: 100%;
  width: 50%;
}

.left .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: gilroy;
  height: 5%;
  width: 100%;
}

.navbar h3 {
  font-size: 3vw;
  font-weight: 600;
}

.navbar .logo {
  z-index: 999;
  opacity: 1;
  scale: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #200001;
}

.logo img {
  height: 80%;
  width: 80%;
  object-fit: cover;
}

.logo-txt {
  position: absolute;
  opacity: 0;
}

.enroll {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip-box {
  right: 0%;
  height: fit-content;
  width: 10vw;
  border-radius: 5px;
  background-color: orange;
  position: absolute;
  padding: 10px 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.tooltip-box .arrow {
  height: 20px;
  width: 20px;
  right: 5%;
  top: -5%;
  rotate: 45deg;
  position: absolute;
  background: orange;
}

.tooltip-box h6 {
  color: white;
  margin-bottom: 0.4vw;
  font-weight: 600;
  font-size: 0.8vw;
}

.tooltip-box li {
  color: black;
  font-size: 0.7vw;
  list-style-type: none;
  font-weight: 500;
  padding-left: 0.5vw;
}

.tooltip:hover .tooltip-box {
  top: 150%;
  visibility: initial;
  opacity: 1;
}

.navbar h4 {
  font-weight: 300;
  font-size: small;
}

.navbar h2 {
  border: 0.5px solid orange;
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
  color: orange;
  font-size: 0.8vw;
}

.center {
  overflow: hidden;
  padding-top: 6vw;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center .welcome h1 {
  font-weight: 800;
  font-size: 3vw;
  color: orange;
}

.center .welcome p {
  font-size: 1vw;
  font-weight: 100;
  text-align: center;
}

.form {
  margin-top: 2.5vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.input {
  padding: 20px 10px 20px 10px;
  border: none;
  background-color: #dddad5;
  border-radius: 5px;
  color: black;
}

.input:focus {
  outline-color: #9b3c3a;
}

.divcheck span {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dddad5;
  border-radius: 5px;
  cursor: pointer;
}

.divcheck span svg {
  height: 60%;
  width: 60%;
  display: none;
}

.divcheck p {
  font-size: 1vw;
  font-weight: 500;
}

.divcheck {
  margin-top: 1vw;
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

button {
  margin-top: 1vw;
  padding: 15px;
  border: none;
  background-color: orange;
  border-radius: 50px;
  font-size: small;
  font-weight: 800;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button:hover {
  background-color: rgb(99, 75, 30);
}

.passRelated {
  margin-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
}

.passRelated h6 {
  font-size: 0.7vw;
  color: white;
  font-weight: 500;
}

.passRelated h6:hover {
  color: rgb(240, 192, 104);
}

.footer {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.footer-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-weight: 300;
  font-size: 0.6vw;
  margin-left: 1vw;
  text-align: center;
}

.right {
  height: 100%;
  width: 55%;
}

.loader {
  position: absolute;
  top: 2%;
  right: 2.5%;
  height: 95vh;
  width: 95vw;
  border-radius: 20px;
  overflow: hidden;
}

.loader img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.circle {
  display: none;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 10px solid;
  border-color: white #0000;
  animation: l1 1s infinite;
}

@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

@media (max-width: 600px) {
  .loader {
    top: 2%;
    right: 2.5%;
    height: 95vh;
    width: 95vw;
  }

  .left {
    padding: 3vw;
    height: 50%;
    width: 100%;
  }

  .left .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
  }

  .tooltip {
    position: relative;
    width: 20vw;
  }
  .navbar h4 {
    font-size: 3vw;
  }
  .navbar .capsule {
    padding: 10px 5px;
    font-size: 2.5vw;
    align-items: center;
    justify-content: center;
  }

  .tooltip-box {
    right: 0%;
    height: fit-content;
    width: 35vw;
  }

  .tooltip-box h6 {
    margin-bottom: 1vw;
    font-size: 4vw;
  }

  .tooltip-box li {
    font-size: 2vw;
    line-height: 2vw;
    font-weight: 500;
    padding-left: 1vw;
  }
  .tooltip:hover .tooltip-box {
    visibility: hidden;
  }

  .navbar .enroll h4 {
    visibility: hidden;
  }

  .center {
    padding-top: 10vw;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .center .welcome h1 {
    font-size: 8vw;
  }

  .center .welcome p {
    font-size: 2.5vw;
    font-weight: 100;
    text-align: center;
  }

  .form {
    margin-top: 4vw;
    gap: 2vw;
  }

  .input {
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    width: 90vw;
  }

  .divcheck span {
    border-radius: 3px;
  }

  .divcheck p {
    font-size: 3.5vw;
    font-weight: 500;
  }

  .divcheck {
    margin-top: 2vw;
    display: flex;
    align-items: center;
    gap: 3vw;
  }

  button {
    margin-top: 2vw;
    padding: 10px;
    font-weight: 800;
  }

  .passRelated {
    margin-top: 3vw;
    gap: 4vw;
  }

  .passRelated h6 {
    font-size: 2.5vw;
  }
  .footer {
    height: 12%;
    width: 100%;
  }

  .footer p {
    font-weight: 300;
    font-size: 1.8vw;
  }

  .right {
    width: 100%;
  }
}
